.homeContent {
  display: flex;
  position: relative;
  background: url(asserts/images/cont_bg.png) 0 0 repeat-x #fff;
  box-shadow: 0 5px 5px #000;

  width: 100%;
  padding-bottom: 30px;
}

.homeContent .item {
  background-color: #e6e0de;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;

  display: flex;
  width: 700px;
  height: 200px;
  margin-left: 4%;
  margin-top: 20px;
}

.homeContent .img_inner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  object-fit: cover;
  float: left;
  display: inline-block;

  width: 300px;
  height: 200px;
}

.homeContent .itemContent {
  display: inline-block;
  z-index: 5;

  width: 400px;
  height: 200px;
  margin-top: 10px;
}

.homeContent h3,
p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: black;
}

.homeContent h3 {
  display: block;
  position: relative;
  text-align: left;
  font-size: 20px;
  margin: 10px;
}

.homeContent p {
  float: left;
  display: block;
  position: relative;
  font-family: "Times New Roman", Verdana, Segoe, sans-serif;

  bottom: 5px;
  margin-left: 4%;
  margin-top: 10px;
}
.homeContent .timestamp {
  float: left;
  display: block;
  position: relative;

  bottom: 5px;
  margin-left: 4%;
}

.homeContent .timestamp h5 {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  color: #a21514;
  font-size: 11px;
  letter-spacing: 2px;
}
.homeContent .timestamp .time {
  display: inline-block;
  text-align: left;
  color: black;

  font-size: 10px;
  margin-left: 20px;
}

.homeContent .mobile {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .homeContent .desktop {
    display: none;
  }
  .homeContent .mobile {
    display: block;
  }
  .homeContent .containerContent {
    display: block;
    position: relative;
    width: 100%;
  }

  .homeContent .content {
    display: block;
    position: relative;
    width: 100%;
  }

  .homeContent .item {
    width: 96%;
    height: 200px;
    margin-left: 2%;
    margin-top: 20px;
  }

  .homeContent .img_inner {
    display: block;
    position: relative;
    width: 40vw;
    height: 200px;
  }

  .homeContent .itemContent {
    width: 60%;
  }

  .homeContent h3 {
    margin: 5px;
  }

  .homeContent p {
    margin-left: 2%;
  }
  .homeContent .timestamp {
    margin-left: 2%;
  }

  .homeContent .timestamp .time {
    font-size: 10px;
    margin-left: 5px;
  }
}
