.footer {
  display: block;
  background: #1b1b1b;
}

.footer .foot_top {
  background: #292929;
  padding-bottom: 28px;
}

.footer .container_24 {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin-left: 2%;
}

.footer .grid_14 {
  display: inline-block;
  position: relative;
  width: 50%;
}

.footer .grid_6 {
  display: inline-block;
  position: relative;
  width: 30%;
}
.footer .grid_4 {
  display: inline-block;
  position: relative;
  width: 20%;
}

.footer h3 {
  color: #cf0606;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  font-weight: bold;
  padding-top: 29px !important;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.footer ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.footer li {
  color: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font: bold 12px/22px Tahoma, sans-serif;
  letter-spacing: 3px;
}

.footer li:hover {
  color: #cf0606;
}

.footer li:before {
  content: "";
  display: block;
  position: relative;
  border-color: transparent #6d6d6d;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  height: 0;
  width: 0;
  left: -1em;
  top: 15px;
}

.footer .current a {
  color: #cf0606;
  text-transform: uppercase;
  font: bold 12px/22px "Orbitron", sans-serif;
  letter-spacing: 3px;
}

.footer .contact {
  margin-top: 17px;
}

.footer p {
  font-family: "Arial", Times, serif;
  color: white;
  margin-top: 10px;
  font-size: 15px;
}
.footer .copy {
  color: rgb(66, 212, 248);
}
@media only screen and (max-width: 1000px) {
  .footer .mobile {
    display: none;
  }

  .footer .grip_6 {
    width: 100%;
  }
}
