ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid black;
  text-transform: uppercase;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background: url(../asserts/images/menu_hover.png) center bottom no-repeat;
  border-bottom: 5px solid #a20707;
}
