$color_dark_green: #264653;
$color_green: #2a9d8f;
$color_yellow: #e9c46a;
$color_orange: #f4a261;
$color_red: #e76f51;

$origin_red: #a21515;

$laptop_width: 1200px;
$ipad_width: 992px;
$table_widh: 768px;
$phone_width: 576px;
$iPhon5_width: 375px;

$fontFamilyTitle: Tahoma, Verdana, Segoe, sans-serif;
$fontFamilyDefault: "Times New Roman", Verdana, Segoe, sans-serif;
